{% load staticfiles %}
<div class="df-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a class="logo" href="/">
                    <img src="{% static "img/logo.png" %}" alt="Das Fun">
                </a>
                <p class="footer-note">
{#                    专注和你分享有趣的事#}
                    个性的, 中庸的, 偏激的, 包罗万象, 每天更新
                </p>
                <p class="footer-note">
                    Copyright &copy; 2016 Das Fun. All rights reserved.
                </p>
                <p class="footer-note">
                    <a href="http://www.miibeian.gov.cn/">湘ICP备15002793号-1</a>
                </p>
                <p class="footer-note small">
                    声明: 本网站作为用户分享的平台, 只审核有无色情内容以及政治敏感内容, 所有关于转载版权的内容本站概不负责。
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="footer-link" href="/about">关于我们</a>
                        <a class="footer-link" href="/contact">联系我们</a>
                    </div>
                    <div class="col-sm-6">
{#                        <div id="qrcode" class="footer-qrcode">#}
{#                            <!-- qrcode will be inserted here -->#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>